* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
        
}
body {
    background-color: black;
}
#page-header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}
.logo {
    margin-left: 10px;
    width: 60px;
}
#page-header nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
}
#page-header nav ul li a {
    text-decoration: none;
    color: black;
    }
main {
    margin: 5vh 5px;
    
}


.main-header h2, .main-header2 h2 {
    width: 50%;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 1rem;
}
.main-header{
    color: white;
    text-align: center;
    margin: 0 2vw;
}
.main-header hr {
    margin: 10% auto;
    width: 10%;
    border: 2px solid yellow;
}

/* section 1 */
.container {
    display: grid;
    margin: 10% 5%;
    grid-gap: 10px;
    grid-template: repeat(3, 1fr) 0.2fr repeat(5, 0.3fr)/ 1fr;
    /* min-height: 0; */

}
.big-article {
    border: 1px solid white;
}
.txt {
    background-color: white;
    color: black;
    padding: 10px;

}
.big-article .txt .read input {
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;

}
.read{
    display: flex;
    align-items: center;
}
.big-article .txt .read .box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:12px;
    height:20px;
    background-color: white;
    margin-right: 3px;
    padding:2px 0;
}
.big-article .txt .read .box .lines{
    height: 1px;
    background-color: black;
}

.section2-header{
    color: white;
    font-size: 1.5rem;
    padding-left: 20px;
    border-left: 5px solid yellow;
    margin: 10% 0;
}
.small-article{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}
.small-article .txt {
    color: white;
    background-color: black;
}
.small-article .txt h3{
    margin-bottom: 5px;
}
.small-article img{
    max-width: 150px;

}

#seeMore{
    color: white;
    background-color: black;
    margin: 30px auto;
    border: none;
    border-bottom:2px solid yellow;
    width: 70px;
}
.ads{
    background-color: white;
    text-align: center;
    line-height: 15vh;

}

/* Section 2  */